<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
         http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd
         http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
         http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
         http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- We still need it for loading the CXFServlet -->
<!-- 	<import resource="classpath:META-INF/cxf/cxf.xml" /> -->
<!-- 	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" /> -->

	<context:property-placeholder location="classpath:default.properties" />

	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<package>com.accenture.camel</package>
	</camelContext>
	<bean id="configuration" class="com.accenture.conf.Configuration">
		<property name="property" value="${noprofile.test.property}"/>
	</bean>
	
	
	<beans profile="unittest">
		<bean id="configuration" class="com.accenture.conf.Configuration">
		<property name="property" value="${profile.test.property}"/>
	</bean>
	</beans>
</beans>